<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      </head>
  <body>
    <div class="card" style="width: 18rem;">
      <img src="https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?cs=srgb&dl=pexels-pixabay-40784.jpg&fm=jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Water</h5>
        <p class="card-text">Water is the key to all life on Earth. Even the planet needs water to continue supporting us and all other life! The Earth is covered in about 70% water and 30% land. Water doesn't just help us and other living creatures survive, but it plays a huge factor in the climate and agriculture. Without water all life on Earth would seize to exist. Unfortunately, we waste thousands of gallons of water a day! This must be changed!</p>
        <a href="#" class="btn btn-primary">How much water is wasted a day?</a>
      </div>
    </div>
   </body>
</html>

